{% extends "layout_unbranded.html" %}
{% block pageTitle %}
List of Cities
{% endblock %}

{% block content %}

{% if cities and cities.length > 0 %}
{% set cityrows = [] %}
{% for city in cities | contains(namefilter) %}
{% set cityrows = (cityrows.push([{ text: city.id }, {text: city.city}, {text: city.country},
{text: city.district}, {text: city.populationCounts[0].value}]), cityrows) %}
{% endfor %}
{{govukTable({
head: [ { text: "ID" },{ text: "Name" },{ text: "Country" },
{ text: "District" },{ text: "Population" } ],
rows: cityrows })
}}
{% else %}
There are no cities.
{% endif %}

{% endblock %}